<div class="container" id="result_container" data-url="/checkloyaltyprogress?id=<%=@random_id%>">
	<div class="content">
		<h4 id="result"><%=raw @scraped_result.result %></h4>

		<%= link_to "Back to Form", '/', class: "btn btn-default back_btn", type: 'button' %>
	</div>
</div>
<div id="wait_container">
	<div class="content">
		<h2>Loading. Please Wait. <i class="fa fa-spinner fa-spin"></i> </h2>
	</div>
</div>

<script type="text/javascript">
// $(document).ready(function(){
// 	setTimeout(updateStatus, 2000);
// });

// function updateStatus(){
// 	var url = $('#result_container').attr('data-url');
// 	$.get( url, function( data ) {
// 		if(data.is_done == true){
// 			$('#result').html(data.result);
// 			$('#wait_container').hide();
// 			$('#result_container').show();
// 		}else{
// 			setTimeout(updateStatus, 2000);
// 		}
// 	});
// }
</script>